.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(201, 199, 199);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.inner-body {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden; /* İçerik dışarı taşmasın */
  min-width: 50%;
  min-height: 50%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
