@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #445686;
  --secondary-color: #21d25f;
  --thrid-color: #3e78a0;
}
.root-body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
